body {
    margin: 0;
    font-family: 'Concert One', cursive;
    font-size: 20px;
    line-height: 30px;
}

header {
    background-color: #2980b9;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1, h2 {
    font-family: 'Nanum Pen Script', cursive;
}
/* header styles */

header h1 {
    color: white;
    font-size: 65px;
}

header img {
    border-radius: 50%;
    width: 300px;
    border: 10px solid #ecf0f1;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 20px;
}

main img {
    max-width: 100%;
}

h2 {
    font-size: 50px;
    color: #2980b9;
    margin: 40px 0 10px;
}

a {
    color: #2980b9;
}

a:hover {
    color: white;
    background-color: #e74c3c;
}

footer {
    background-color: #2980b9;
    text-align: center;
    color: white;
    padding: 50px;
}

footer p {
    margin: 0;
}
footer a {
    color: white ;
}
footer a:hover {
    opacity: .5;
    background-color:  transparent;
}
p.caption {
    color: #7f8c8d;
    font-style: italic;
    margin-top: 0;
}