body {
    background-color: aqua;
}

h1{
    font-size: 30px;
    color: teal;
}

h2 {
    color: red;
    font-size: 20px;
}

h2 {
    color: goldenrod;
}

.big{
    font-size: 60px;
}

.uppercase {
    text-transform: uppercase ;
}

.big.uppercase{
    color: indigo;
}

 h1 span {
    color: fuchsia;
}